
<div class="container">
  <h2><strong>Inventario</strong></h2>
  <br>
  <a class="btn btn-info buttonInfo"  routerLink="/modal"> <strong>Agregar producto</strong></a>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Imágen</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of productos">
        <td>{{item.id}}</td>
        <td>
            <img class="img_productos" src="{{item.image}}" alt="Imagen no disponible"/>
            </td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td> 
            <a class="btn btn-default buttonDefault" routerLink="/modal/{{item.id}}">
            <strong>Editar</strong></a>
            <button type="button" class="btn btn-info buttonInfo"(click)="eliminarProducto(item)">
            <strong>
            Eliminar
            </strong>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


